[submodule "3rdparty/cadical"]
	path = 3rdparty/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "3rdparty/cvc5"]
	path = 3rdparty/cvc5
	url = https://github.com/cvc5/cvc5.git
[submodule "3rdparty/bitwuzla"]
	path = 3rdparty/bitwuzla
	url = https://github.com/bitwuzla/bitwuzla.git
